*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html.wp-toolbar {
  padding-top: 0;
}

a, a:hover {
  color: #007cba;
  outline: none;
  -webkit-box-shadow: 0 0 0;
          box-shadow: 0 0 0;
}

body:not(.iframe) {
  background-color: #fafafa;
  overflow-x: hidden;
}

#dashboard-widgets .button-link,
#dashboard-widgets li a,
.community-events-footer a {
  -webkit-box-shadow: 0 0 0;
          box-shadow: 0 0 0;
}

.wp-core-ui #wpwrap .button,
.wp-core-ui #wpwrap .button-primary {
  background-color: #007cba;
  color: #fff;
  outline: none;
  border: 0;
  padding: 5px 10px;
  border-radius: 9px;
  text-shadow: 0 0 0;
  border: 1px solid #007cba;
  -webkit-box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.45) inset;
          box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.45) inset;
  -webkit-transition: background .4s ease, color .4s ease, border .4s ease, -webkit-box-shadow .4s ease;
  transition: background .4s ease, color .4s ease, border .4s ease, -webkit-box-shadow .4s ease;
  transition: background .4s ease, color .4s ease, border .4s ease, box-shadow .4s ease;
  transition: background .4s ease, color .4s ease, border .4s ease, box-shadow .4s ease, -webkit-box-shadow .4s ease;
}

.wp-core-ui #wpwrap .button .dashicons,
.wp-core-ui #wpwrap .button-primary .dashicons {
  color: #0073AA;
  line-height: 1.3;
  -webkit-transition: color .4s ease;
  transition: color .4s ease;
}

.wp-core-ui #wpwrap .button:hover,
.wp-core-ui #wpwrap .button-primary:hover {
  background-color: #0893da;
  color: #fff;
  border-color: #0893da;
  -webkit-box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.45) inset;
          box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.45) inset;
}

.wp-core-ui #wpwrap .button:hover .dashicons,
.wp-core-ui #wpwrap .button-primary:hover .dashicons {
  color: #fff;
}

.wp-core-ui #wpwrap .button:focus, .wp-core-ui #wpwrap .button:active,
.wp-core-ui #wpwrap .button-primary:focus,
.wp-core-ui #wpwrap .button-primary:active {
  background-color: #007cba;
  color: #fff;
  border-color: #007cba;
  -webkit-box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.45) inset;
          box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.45) inset;
}

.wp-core-ui #wpwrap .button:focus .dashicons, .wp-core-ui #wpwrap .button:active .dashicons,
.wp-core-ui #wpwrap .button-primary:focus .dashicons,
.wp-core-ui #wpwrap .button-primary:active .dashicons {
  color: #fff;
}

.wp-core-ui #wpwrap .button.button-secondary,
.wp-core-ui #wpwrap .button-primary.button-secondary {
  background-color: #d24339;
  border-color: #d24339;
}

.wp-core-ui #wpwrap .button.button-secondary:hover,
.wp-core-ui #wpwrap .button-primary.button-secondary:hover {
  background-color: #ea5348;
  border-color: #ea5348;
}

.wp-core-ui #wpwrap .button.button-secondary:focus, .wp-core-ui #wpwrap .button.button-secondary:active,
.wp-core-ui #wpwrap .button-primary.button-secondary:focus,
.wp-core-ui #wpwrap .button-primary.button-secondary:active {
  background-color: #d24339;
  color: #fff;
  border-color: #d24339;
  -webkit-box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.45) inset;
          box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.45) inset;
}

.wp-core-ui #wpwrap .button.button-secondary:focus .dashicons, .wp-core-ui #wpwrap .button.button-secondary:active .dashicons,
.wp-core-ui #wpwrap .button-primary.button-secondary:focus .dashicons,
.wp-core-ui #wpwrap .button-primary.button-secondary:active .dashicons {
  color: #fff;
}

.wp-core-ui #wpwrap .button.update-now:before,
.wp-core-ui #wpwrap .button-primary.update-now:before {
  color: #fff;
}

.wp-core-ui .notice, .wp-core-ui .woocommerce-message {
  background-color: #fff;
  padding: 10px;
  overflow: inherit;
  border: 0;
  margin: 0;
  border-radius: 0;
  padding-left: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
  padding-right: 45px;
  border: 1px solid #eaeaea;
}

.wp-core-ui .notice .notice-dismiss, .wp-core-ui .woocommerce-message .notice-dismiss {
  background-color: transparent;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 6px 10px;
  font-size: 0;
  top: 0;
  height: 100%;
  right: 0;
  margin: 0;
  -webkit-box-shadow: 0 0 0;
          box-shadow: 0 0 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-box-shadow .2s ease;
  transition: -webkit-box-shadow .2s ease;
  transition: box-shadow .2s ease;
  transition: box-shadow .2s ease, -webkit-box-shadow .2s ease;
  -webkit-box-shadow: 0 0 0 1px #eaeaea;
          box-shadow: 0 0 0 1px #eaeaea;
}

.wp-core-ui .notice .notice-dismiss:before, .wp-core-ui .woocommerce-message .notice-dismiss:before {
  top: 0;
  left: 0;
  color: #7d7d7d;
  -webkit-transition: color .2s ease;
  transition: color .2s ease;
}

.wp-core-ui .notice .notice-dismiss:hover, .wp-core-ui .woocommerce-message .notice-dismiss:hover {
  -webkit-box-shadow: 0 0 0 1px #DC3232;
          box-shadow: 0 0 0 1px #DC3232;
}

.wp-core-ui .notice .notice-dismiss:hover:before, .wp-core-ui .woocommerce-message .notice-dismiss:hover:before {
  color: #DC3232;
}

.wp-core-ui .notice p, .wp-core-ui .woocommerce-message p {
  color: #23282D;
}

.wp-core-ui .notice p a, .wp-core-ui .woocommerce-message p a {
  color: #23282D;
}

.wp-core-ui .notice.elementor-message, .wp-core-ui .woocommerce-message.elementor-message {
  background-color: #eaeaea;
  padding: 20px;
}

.wp-core-ui .notice.elementor-message .elementor-message-icon .e-logo-wrapper, .wp-core-ui .woocommerce-message.elementor-message .elementor-message-icon .e-logo-wrapper {
  background-color: #fff;
}

.wp-core-ui .notice.elementor-message .elementor-message-icon .e-logo-wrapper i, .wp-core-ui .woocommerce-message.elementor-message .elementor-message-icon .e-logo-wrapper i {
  color: #7d7d7d;
}

.wp-core-ui .notice.elementor-message .elementor-message-content .elementor-message-actions a, .wp-core-ui .woocommerce-message.elementor-message .elementor-message-content .elementor-message-actions a {
  background-color: #fff;
  color: #23282D;
}

.wp-core-ui .notice.elementor-message .elementor-message-content .elementor-message-actions a:hover, .wp-core-ui .woocommerce-message.elementor-message .elementor-message-content .elementor-message-actions a:hover {
  background-color: #23282D;
  color: #fff;
}

.wp-core-ui .notice.elementor-message .notice-dismiss, .wp-core-ui .woocommerce-message.elementor-message .notice-dismiss {
  background-color: #eaeaea;
}

.wp-core-ui .notice.elementor-message .notice-dismiss:before, .wp-core-ui .woocommerce-message.elementor-message .notice-dismiss:before {
  color: #7d7d7d;
}

#wpwrap #adminmenumain {
  position: relative;
  z-index: 125000;
}

#wpwrap #adminmenumain > a {
  display: none;
}

#wpwrap #adminmenumain #adminmenuback, #wpwrap #adminmenumain #adminmenuwrap, #wpwrap #adminmenumain #adminmenuwrap #adminmenu, #wpwrap #adminmenumain #adminmenuwrap #adminmenu .wp-submenu {
  width: 100%;
  max-width: 250px;
}

#wpwrap #adminmenumain #adminmenuback {
  background-color: #fff;
  background-repeat: repeat;
  height: 100%;
  border-right: 1px solid #eaeaea;
}

#wpwrap #adminmenumain #adminmenuwrap {
  background-color: transparent;
  position: absolute !important;
  top: 0 !important;
}

#wpwrap #adminmenumain #adminmenuwrap ul#adminmenu {
  background-color: transparent;
  padding: 0;
  margin: 0;
  width: 100%;
  padding-top: 13px;
}

#wpwrap #adminmenumain #adminmenuwrap ul#adminmenu li {
  background-color: transparent !important;
}

#wpwrap #adminmenumain #adminmenuwrap ul#adminmenu li a {
  color: #656565;
  padding: 4px;
  border-radius: 0;
  -webkit-transition: color .4s ease, background .4s ease;
  transition: color .4s ease, background .4s ease;
}

#wpwrap #adminmenumain #adminmenuwrap ul#adminmenu li a:after {
  display: none;
}

#wpwrap #adminmenumain #adminmenuwrap ul#adminmenu li a .wp-menu-image.svg {
  -webkit-filter: saturate(0) brightness(0.6);
          filter: saturate(0) brightness(0.6);
}

#wpwrap #adminmenumain #adminmenuwrap ul#adminmenu li a.wp-has-current-submenu, #wpwrap #adminmenumain #adminmenuwrap ul#adminmenu li a:hover, #wpwrap #adminmenumain #adminmenuwrap ul#adminmenu li a:focus {
  background-color: rgba(0, 115, 170, 0.1);
  color: #0073AA;
}

#wpwrap #adminmenumain #adminmenuwrap ul#adminmenu li a.wp-has-current-submenu .wp-menu-image:before, #wpwrap #adminmenumain #adminmenuwrap ul#adminmenu li a:hover .wp-menu-image:before, #wpwrap #adminmenumain #adminmenuwrap ul#adminmenu li a:focus .wp-menu-image:before {
  color: #0073AA;
}

#wpwrap #adminmenumain #adminmenuwrap ul#adminmenu li a.wp-has-current-submenu .wp-menu-image.svg, #wpwrap #adminmenumain #adminmenuwrap ul#adminmenu li a:hover .wp-menu-image.svg, #wpwrap #adminmenumain #adminmenuwrap ul#adminmenu li a:focus .wp-menu-image.svg {
  -webkit-filter: saturate(0) brightness(0);
          filter: saturate(0) brightness(0);
}

#wpwrap #adminmenumain #adminmenuwrap ul#adminmenu li a .wp-menu-image:before {
  color: #696969;
}

#wpwrap #adminmenumain #adminmenuwrap ul#adminmenu li a .update-plugins {
  background-color: #0073AA;
  margin-left: 10px;
  position: absolute;
  right: 15px;
  color: #fff;
  -webkit-box-shadow: 0 0 0 1px #0073AA;
          box-shadow: 0 0 0 1px #0073AA;
}

#wpwrap #adminmenumain #adminmenuwrap ul#adminmenu li:after {
  display: none;
}

#wpwrap #adminmenumain #adminmenuwrap ul#adminmenu li .wp-submenu {
  background-color: #fff;
  left: 100%;
  opacity: 0;
  top: 0;
  padding: 0;
  visibility: hidden;
  border-radius: 0;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-box-shadow: 3px 3px 8px 0px #23282d1f;
          box-shadow: 3px 3px 8px 0px #23282d1f;
  -webkit-transition: opacity .3s ease, visibility .4s ease, -webkit-transform .4s;
  transition: opacity .3s ease, visibility .4s ease, -webkit-transform .4s;
  transition: opacity .3s ease, visibility .4s ease, transform .4s;
  transition: opacity .3s ease, visibility .4s ease, transform .4s, -webkit-transform .4s;
}

#wpwrap #adminmenumain #adminmenuwrap ul#adminmenu li.wp-has-current-submenu ul.wp-submenu {
  background-color: transparent;
  position: relative;
  opacity: 1;
  left: 0;
  padding: 0;
  border-radius: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  visibility: visible;
  -webkit-box-shadow: 0 0 0;
          box-shadow: 0 0 0;
  -webkit-transform: scale(1);
          transform: scale(1);
}

#wpwrap #adminmenumain #adminmenuwrap ul#adminmenu li.wp-has-current-submenu ul.wp-submenu li a {
  border-radius: 0;
  padding: 8px 20px;
  -webkit-box-shadow: 0 0 0 0 #0073AA inset;
          box-shadow: 0 0 0 0 #0073AA inset;
  -webkit-transition: -webkit-box-shadow .2s ease;
  transition: -webkit-box-shadow .2s ease;
  transition: box-shadow .2s ease;
  transition: box-shadow .2s ease, -webkit-box-shadow .2s ease;
}

#wpwrap #adminmenumain #adminmenuwrap ul#adminmenu li.wp-has-current-submenu ul.wp-submenu li a:hover, #wpwrap #adminmenumain #adminmenuwrap ul#adminmenu li.wp-has-current-submenu ul.wp-submenu li a:focus {
  background-color: transparent;
  color: #0073AA;
  -webkit-box-shadow: -1px 0 0 0 #0073AA inset;
          box-shadow: -1px 0 0 0 #0073AA inset;
}

#wpwrap #adminmenumain #adminmenuwrap ul#adminmenu li.wp-has-current-submenu ul.wp-submenu li.current a {
  background-color: transparent;
  color: #0073AA;
  -webkit-box-shadow: -1px 0 0 0 #0073AA inset;
          box-shadow: -1px 0 0 0 #0073AA inset;
}

#wpwrap #adminmenumain #adminmenuwrap ul#adminmenu li:not(.wp-has-current-submenu) ul.wp-submenu {
  border: 0;
}

#wpwrap #adminmenumain #adminmenuwrap ul#adminmenu li:not(.wp-has-current-submenu) ul.wp-submenu li a {
  color: #9b9da7;
  padding: 10px;
}

#wpwrap #adminmenumain #adminmenuwrap ul#adminmenu li:not(.wp-has-current-submenu) ul.wp-submenu li a:hover {
  background-color: rgba(0, 115, 170, 0.1);
  color: #0073AA;
}

#wpwrap #adminmenumain #adminmenuwrap ul#adminmenu li:not(.wp-has-current-submenu) ul.wp-submenu li a:hover.svg {
  -webkit-filter: saturate(0) brightness(0);
          filter: saturate(0) brightness(0);
}

#wpwrap #adminmenumain #adminmenuwrap ul#adminmenu li:not(.wp-has-current-submenu) ul.wp-submenu li a .update-plugins {
  background-color: #868996;
  right: 20px;
  color: #ffffff;
  margin-left: 0;
  -webkit-box-shadow: 0 0 0 1px #868996;
          box-shadow: 0 0 0 1px #868996;
}

#wpwrap #adminmenumain #adminmenuwrap ul#adminmenu li:not(.wp-has-current-submenu):hover div.wp-menu-image:before {
  color: #0073AA;
}

#wpwrap #adminmenumain #adminmenuwrap ul#adminmenu li:not(.wp-has-current-submenu):hover .wp-submenu {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

#wpwrap #adminmenumain #adminmenuwrap ul#adminmenu li.current > a, #wpwrap #adminmenumain #adminmenuwrap ul#adminmenu li:hover > a {
  background-color: rgba(0, 115, 170, 0.1);
  color: #0073AA;
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
}

#wpwrap #adminmenumain #adminmenuwrap ul#adminmenu li.current > a .wp-menu-image:before, #wpwrap #adminmenumain #adminmenuwrap ul#adminmenu li:hover > a .wp-menu-image:before {
  color: #0073AA;
}

#wpwrap #adminmenumain #adminmenuwrap ul#adminmenu li.current > a .wp-menu-image.svg, #wpwrap #adminmenumain #adminmenuwrap ul#adminmenu li:hover > a .wp-menu-image.svg {
  -webkit-filter: saturate(0) brightness(0);
          filter: saturate(0) brightness(0);
}

#wpwrap #adminmenumain #adminmenuwrap ul#adminmenu li.wp-menu-separator .separator {
  background-color: #eaeaea;
  height: 1px;
  margin-top: 13px;
}

#wpwrap #adminmenumain #adminmenuwrap ul#adminmenu li#collapse-menu button {
  color: #656565;
  -webkit-transition: color .2s ease;
  transition: color .2s ease;
}

#wpwrap #adminmenumain #adminmenuwrap ul#adminmenu li#collapse-menu button:hover, #wpwrap #adminmenumain #adminmenuwrap ul#adminmenu li#collapse-menu button:focus {
  color: #0073AA;
}

#wpwrap #adminmenumain #adminmenuwrap ul#adminmenu li.wp-has-submenu a .wp-menu-name:before, #wpwrap #adminmenumain #adminmenuwrap ul#adminmenu li.wp-has-submenu a .wp-menu-name:after {
  content: "";
}

#wpwrap #wpcontent {
  margin-left: 250px;
  padding: 0;
}

#wpwrap #wpcontent #wpadminbar {
  background-color: #fff;
  position: relative;
  padding: 0 20px;
  height: auto;
  border-bottom: 1px solid #eaeaea;
}

#wpwrap #wpcontent #wpadminbar .quicklinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#wpwrap #wpcontent #wpadminbar .quicklinks ul li {
  float: none;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

#wpwrap #wpcontent #wpadminbar .quicklinks ul li:last-of-type {
  margin-right: 0;
}

#wpwrap #wpcontent #wpadminbar .quicklinks ul li#wp-admin-bar-menu-toggle {
  display: none;
}

#wpwrap #wpcontent #wpadminbar .quicklinks ul li#wp-admin-bar-user-info img {
  display: none;
}

#wpwrap #wpcontent #wpadminbar .quicklinks ul li#wp-admin-bar-user-info .display-name {
  height: auto;
  line-height: inherit;
}

#wpwrap #wpcontent #wpadminbar .quicklinks ul li#wp-admin-bar-my-account img {
  border: 0;
  border-radius: 35px;
}

#wpwrap #wpcontent #wpadminbar .quicklinks ul li a {
  background-color: transparent;
  color: #7b7b7b;
  padding: 18px 16px;
  -webkit-transition: color .4s ease, -webkit-box-shadow .4s ease;
  transition: color .4s ease, -webkit-box-shadow .4s ease;
  transition: color .4s ease, box-shadow .4s ease;
  transition: color .4s ease, box-shadow .4s ease, -webkit-box-shadow .4s ease;
}

#wpwrap #wpcontent #wpadminbar .quicklinks ul li a .ab-label {
  color: #656565;
  opacity: 1;
  -webkit-transition: color .4s ease;
  transition: color .4s ease;
}

#wpwrap #wpcontent #wpadminbar .quicklinks ul li a:before {
  color: #656565;
  -webkit-transition: color .4s ease;
  transition: color .4s ease;
}

#wpwrap #wpcontent #wpadminbar .quicklinks ul li a .ab-icon:before {
  color: #656565;
  -webkit-transition: color .4s ease;
  transition: color .4s ease;
}

#wpwrap #wpcontent #wpadminbar .quicklinks ul li a .svg {
  -webkit-filter: saturate(0) contrast(0.5);
          filter: saturate(0) contrast(0.5);
}

#wpwrap #wpcontent #wpadminbar .quicklinks ul li a:hover {
  background-color: transparent;
  color: #23282D;
  -webkit-box-shadow: 0 1px 0 0 #23282D;
          box-shadow: 0 1px 0 0 #23282D;
}

#wpwrap #wpcontent #wpadminbar .quicklinks ul li a:hover .svg {
  -webkit-filter: saturate(0);
          filter: saturate(0);
}

#wpwrap #wpcontent #wpadminbar .quicklinks ul li a:hover .ab-label {
  color: #23282D;
}

#wpwrap #wpcontent #wpadminbar .quicklinks ul li a:hover:before {
  color: #23282D;
}

#wpwrap #wpcontent #wpadminbar .quicklinks ul li a:hover .ab-icon:before {
  color: #23282D;
}

#wpwrap #wpcontent #wpadminbar .quicklinks ul li a .wp-ui-notification {
  padding: 0 !important;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 18px;
  height: 18px;
  padding: 0;
  color: #fff;
  margin-left: auto;
  border-radius: 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#wpwrap #wpcontent #wpadminbar .quicklinks ul li .ab-sub-wrapper {
  background-color: #fff;
  border-radius: 0;
  top: calc(100% + 1px);
  -webkit-box-shadow: 0px 3px 8px 0px #23282d1f;
          box-shadow: 0px 3px 8px 0px #23282d1f;
}

#wpwrap #wpcontent #wpadminbar .quicklinks ul li .ab-sub-wrapper ul {
  padding: 10px 0;
}

#wpwrap #wpcontent #wpadminbar .quicklinks ul li .ab-sub-wrapper ul li {
  display: block;
  margin: 0;
  padding: 0 10px;
}

#wpwrap #wpcontent #wpadminbar .quicklinks ul li .ab-sub-wrapper ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6px 10px;
  -webkit-transition: color .4s ease;
  transition: color .4s ease;
}

#wpwrap #wpcontent #wpadminbar .quicklinks ul li .ab-sub-wrapper ul li a:hover {
  -webkit-box-shadow: 0 0 0;
          box-shadow: 0 0 0;
}

#wpwrap #wpcontent #wpadminbar .quicklinks ul li .ab-sub-wrapper #wp-admin-bar-wp-logo-external {
  background-color: transparent;
  border-top: 1px solid #eaeaea;
  margin-top: 10px;
}

#wpwrap #wpcontent #wpadminbar .quicklinks ul li#wp-admin-bar-wp-logo {
  display: none;
}

#wpwrap #wpcontent #wpbody #wpbody-content {
  padding: 0;
}

#wpwrap #wpcontent #wpbody #wpbody-content #screen-meta, #wpwrap #wpcontent #wpbody #wpbody-content #screen-meta-links, #wpwrap #wpcontent #wpbody #wpbody-content .wrap {
  margin: 0;
}

#wpwrap #wpcontent #wpbody #wpbody-content #screen-meta-links {
  background-color: #fafafa;
  padding: 0 20px;
  width: 100%;
  float: none;
  text-align: right;
}

#wpwrap #wpcontent #wpbody #wpbody-content #screen-meta-links > div {
  float: none;
  margin: 0;
  display: inline-block;
}

#wpwrap #wpcontent #wpbody #wpbody-content #screen-meta-links > div button {
  background-color: #fff;
  padding: 8px 18px;
  height: auto;
  color: #333;
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
  border-radius: 0;
  border: 1px solid #eaeaea;
  border-top: 0;
  -webkit-transition: border .2s ease, background .2s ease, color .2s ease;
  transition: border .2s ease, background .2s ease, color .2s ease;
}

#wpwrap #wpcontent #wpbody #wpbody-content #screen-meta-links > div button:after {
  padding-right: 0;
  margin-top: 2px;
  vertical-align: middle;
}

#wpwrap #wpcontent #wpbody #wpbody-content #screen-meta-links > div button.screen-meta-active {
  background-color: #0073AA;
  border-color: #0073AA;
  color: #fff;
}

#wpwrap #wpcontent #wpbody #wpbody-content #screen-meta-links > div button.screen-meta-active:after {
  color: #fff;
}

#wpwrap #wpcontent #wpbody #wpbody-content #screen-meta-links #screen-options-link-wrap {
  margin-right: 15px;
}

#wpwrap #wpcontent #wpbody #wpbody-content #screen-meta-links ~ #message, #wpwrap #wpcontent #wpbody #wpbody-content #screen-meta-links ~ .notice {
  display: none;
}

#wpwrap #wpcontent #wpbody #wpbody-content #screen-meta {
  margin: 0;
  border: 0;
  -webkit-box-shadow: 0 0 0;
          box-shadow: 0 0 0;
  border-bottom: 1px solid #eaeaea;
}

#wpwrap #wpcontent #wpbody #wpbody-content #screen-meta #contextual-help-wrap #contextual-help-back {
  background-color: #fff;
  border-color: #eaeaea;
}

#wpwrap #wpcontent #wpbody #wpbody-content #screen-meta #contextual-help-wrap #contextual-help-columns .contextual-help-tabs ul li {
  border: 0;
  margin: 0;
  -webkit-box-shadow: 0 0 0;
          box-shadow: 0 0 0;
}

#wpwrap #wpcontent #wpbody #wpbody-content #screen-meta #contextual-help-wrap #contextual-help-columns .contextual-help-tabs ul li a {
  color: #656565;
  padding: 8px 12px;
  border: #eaeaea;
  -webkit-box-shadow: 0 0 0;
          box-shadow: 0 0 0;
}

#wpwrap #wpcontent #wpbody #wpbody-content #screen-meta #contextual-help-wrap #contextual-help-columns .contextual-help-tabs ul li.active {
  border: 0;
}

#wpwrap #wpcontent #wpbody #wpbody-content #screen-meta #contextual-help-wrap #contextual-help-columns .contextual-help-tabs ul li.active a {
  background-color: #edeff4;
  color: #23282D;
  -webkit-box-shadow: 1px 0 0 0 #23282D;
          box-shadow: 1px 0 0 0 #23282D;
}

#wpwrap #wpcontent #wpbody #wpbody-content #screen-meta #adv-settings p {
  margin-top: 0;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap {
  background-color: #fafafa;
  padding: 30px;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap > h1 {
  margin-bottom: 20px;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap input:not([type="submit"]), #wpwrap #wpcontent #wpbody #wpbody-content .wrap select, #wpwrap #wpcontent #wpbody #wpbody-content .wrap textarea {
  border-color: #e4e4e4;
  padding: 5px 10px;
  margin-bottom: 5px;
  -webkit-box-shadow: 0 0 0;
          box-shadow: 0 0 0;
  border-radius: 9px;
  -webkit-transition: color .2s ease, border .4s ease;
  transition: color .2s ease, border .4s ease;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap input:not([type="submit"]):hover, #wpwrap #wpcontent #wpbody #wpbody-content .wrap input:not([type="submit"]):focus, #wpwrap #wpcontent #wpbody #wpbody-content .wrap select:hover, #wpwrap #wpcontent #wpbody #wpbody-content .wrap select:focus, #wpwrap #wpcontent #wpbody #wpbody-content .wrap textarea:hover, #wpwrap #wpcontent #wpbody #wpbody-content .wrap textarea:focus {
  color: #23282D;
  border-color: #94c4db;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap input[type="checkbox"] {
  border-radius: 4px;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap select {
  border-color: #e4e4e4;
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
  border-radius: 9px;
  padding-right: 25px;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap #welcome-panel {
  background: linear-gradient(45deg, #0073aa, #0d91d0);
  border-radius: 0;
  border: 0;
  padding: 20px;
  -webkit-box-shadow: 0 0 0;
          box-shadow: 0 0 0;
  margin-bottom: 30px;
  border-bottom: 0;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap #welcome-panel .welcome-panel-content {
  margin: 0;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap #welcome-panel .welcome-panel-content h2 {
  color: #FFF;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap #welcome-panel .welcome-panel-content p {
  color: rgba(255, 255, 255, 0.75);
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap #welcome-panel .welcome-panel-content .welcome-panel-column-container {
  margin-top: 20px;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap #welcome-panel .welcome-panel-content .welcome-panel-column-container:after {
  content: "";
  clear: both;
  display: block;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap #welcome-panel a.welcome-panel-close {
  border-radius: 0;
  right: 0;
  top: 0;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.75);
  padding-left: 30px;
  -webkit-transition: background .4s ease;
  transition: background .4s ease;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap #welcome-panel a.welcome-panel-close:before {
  color: rgba(255, 255, 255, 0.75);
  left: 5px;
  top: calc(50% + 1px);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap #welcome-panel a.welcome-panel-close:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap #welcome-panel a.welcome-panel-close:hover:before {
  color: #fff;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap #welcome-panel .welcome-panel-column h3 {
  color: #fff;
  display: block;
  margin: 0;
  margin-bottom: 25px;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap #welcome-panel .welcome-panel-column a.button {
  background-color: transparent;
  padding: 10px 30px;
  border-radius: 35px;
  color: #fff;
  font-weight: 600;
  min-height: auto;
  border: 2px solid #fff;
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap #welcome-panel .welcome-panel-column a.button:hover {
  background-color: #fff;
  color: #0073AA;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap #welcome-panel .welcome-panel-column p.hide-if-no-customize a {
  color: rgba(255, 255, 255, 0.75);
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap #welcome-panel .welcome-panel-column ul li a {
  color: rgba(255, 255, 255, 0.75);
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap #welcome-panel .welcome-panel-column ul li a:before {
  color: rgba(255, 255, 255, 0.75);
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap #welcome-panel .welcome-panel-column ul li a:hover {
  color: #fff;
  text-decoration: underline;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap #dashboard-widgets-wrap #dashboard-widgets .postbox {
  border-radius: 0;
  padding: 15px;
  -webkit-box-shadow: 0 0 0;
          box-shadow: 0 0 0;
  border: 1px solid #eaeaea;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap #dashboard-widgets-wrap #dashboard-widgets .postbox .postbox-header {
  margin-bottom: 25px;
  padding-bottom: 15px;
  border-color: #eaeaea;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap #dashboard-widgets-wrap #dashboard-widgets .postbox .postbox-header h2 {
  padding-left: 0;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap #dashboard-widgets-wrap #dashboard-widgets .postbox .postbox-header .handle-actions button {
  width: 36px;
  border-radius: 0;
  -webkit-box-shadow: 0 0 0;
          box-shadow: 0 0 0;
  margin-right: 6px;
  -webkit-transition: background .4s ease;
  transition: background .4s ease;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap #dashboard-widgets-wrap #dashboard-widgets .postbox .postbox-header .handle-actions button:hover {
  background-color: #eaeaea;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap #dashboard-widgets-wrap #dashboard-widgets .postbox .postbox-header .handle-actions button:last-of-type {
  margin-right: 0;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap #dashboard-widgets-wrap #dashboard-widgets .postbox.closed .postbox-header {
  margin-bottom: 0;
  padding-bottom: 0;
  border-color: #fff;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap #dashboard-widgets-wrap #dashboard-widgets .postbox .inside form > div {
  margin-bottom: 20px;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap #dashboard-widgets-wrap #dashboard-widgets .postbox .inside form label {
  margin-bottom: 10px;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap #dashboard-widgets-wrap #dashboard-widgets .postbox .inside form textarea {
  padding-top: 6px;
  padding-bottom: 6px;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap #dashboard-widgets-wrap #dashboard-widgets .postbox .inside form .textarea-wrap {
  margin-bottom: 0;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap #dashboard-widgets-wrap #dashboard-widgets .postbox#dashboard_right_now .inside ul li a {
  color: #8899a0;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap #dashboard-widgets-wrap #dashboard-widgets .postbox#dashboard_right_now .inside ul li a:before {
  color: #7e898e;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap #dashboard-widgets-wrap #dashboard-widgets .postbox#dashboard_right_now .inside ul li a:hover {
  color: #5a676d;
  text-decoration: underline;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap #dashboard-widgets-wrap #dashboard-widgets .postbox#dashboard_primary .inside #community-events {
  padding: 0;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap #dashboard-widgets-wrap #dashboard-widgets .postbox#dashboard_primary .inside #community-events .activity-block {
  margin: 0 -15px;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap #dashboard-widgets-wrap #dashboard-widgets .postbox#dashboard_primary .inside #community-events ul.community-events-results {
  border-bottom: 0;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap #dashboard-widgets-wrap #dashboard-widgets .postbox#dashboard_primary .inside #community-events ul.community-events-results li {
  border-top: 0;
  border-bottom: 1px solid #eee;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap #dashboard-widgets-wrap #dashboard-widgets .postbox#dashboard_primary .inside #community-events .community-events-form label {
  display: block;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap #dashboard-widgets-wrap #dashboard-widgets .postbox#dashboard_primary .inside #community-events .community-events-form input[type="text"] {
  padding: 3px 10px;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap #dashboard-widgets-wrap #dashboard-widgets .postbox#dashboard_primary .inside #community-events .community-events-form input[type="submit"] {
  vertical-align: middle;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap #dashboard-widgets-wrap #dashboard-widgets .postbox#dashboard_primary .inside #community-events .community-events-form button {
  display: inline-block;
  color: #a6a6a6;
  font-size: 12px;
  text-decoration: none;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap #dashboard-widgets-wrap #dashboard-widgets .postbox#dashboard_primary .inside #community-events .community-events-form button:hover {
  color: #e44e43;
  text-decoration: underline;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap #dashboard-widgets-wrap #dashboard-widgets .postbox#dashboard_primary .inside .wordpress-news a, #wpwrap #wpcontent #wpbody #wpbody-content .wrap #dashboard-widgets-wrap #dashboard-widgets .postbox#dashboard_primary .inside .community-events-footer a {
  color: #8899a0;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap #dashboard-widgets-wrap #dashboard-widgets .postbox#dashboard_primary .inside .wordpress-news a:hover, #wpwrap #wpcontent #wpbody #wpbody-content .wrap #dashboard-widgets-wrap #dashboard-widgets .postbox#dashboard_primary .inside .community-events-footer a:hover {
  color: #5a676d;
  text-decoration: underline;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap #dashboard-widgets-wrap #dashboard-widgets .postbox#dashboard_quick_press .inside .submit {
  margin-top: 10px;
  padding: 15px 0;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap #dashboard-widgets-wrap #dashboard-widgets .postbox#dashboard_activity .inside {
  padding: 0;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap #dashboard-widgets-wrap #dashboard-widgets .postbox#dashboard_activity .inside .activity-block {
  margin: 0 -15px;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap #dashboard-widgets-wrap #dashboard-widgets .postbox#dashboard_activity .inside ul.subsubsub {
  float: none;
  margin: 20px 0;
  padding: 10px 0;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap #dashboard-widgets-wrap #dashboard-widgets .postbox#dashboard_activity .inside ul.subsubsub li {
  color: #fff;
  margin-bottom: 5px;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap #dashboard-widgets-wrap #dashboard-widgets .postbox#dashboard_activity .inside ul.subsubsub li a {
  padding: 4px 14px;
  color: #414141;
  border-radius: 35px;
  border: 1px solid #d6d6d6;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap #dashboard-widgets-wrap #dashboard-widgets .postbox#dashboard_activity .inside ul.subsubsub li a:hover, #wpwrap #wpcontent #wpbody #wpbody-content .wrap #dashboard-widgets-wrap #dashboard-widgets .postbox#dashboard_activity .inside ul.subsubsub li a.current {
  border-color: #23282D;
  color: #23282D;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap #dashboard-widgets-wrap #dashboard-widgets .postbox#dashboard_activity .inside ul.subsubsub li a:hover span, #wpwrap #wpcontent #wpbody #wpbody-content .wrap #dashboard-widgets-wrap #dashboard-widgets .postbox#dashboard_activity .inside ul.subsubsub li a.current span {
  color: #23282D;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap #dashboard-widgets-wrap #dashboard-widgets .postbox#dashboard_activity .inside ul.subsubsub li.spam a:hover, #wpwrap #wpcontent #wpbody #wpbody-content .wrap #dashboard-widgets-wrap #dashboard-widgets .postbox#dashboard_activity .inside ul.subsubsub li.spam a.current {
  border-color: #de901c;
  color: #de901c;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap #dashboard-widgets-wrap #dashboard-widgets .postbox#dashboard_activity .inside ul.subsubsub li.spam a:hover span, #wpwrap #wpcontent #wpbody #wpbody-content .wrap #dashboard-widgets-wrap #dashboard-widgets .postbox#dashboard_activity .inside ul.subsubsub li.spam a.current span {
  color: #de901c;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap #dashboard-widgets-wrap #dashboard-widgets .postbox#dashboard_activity .inside ul.subsubsub li.trash a:hover, #wpwrap #wpcontent #wpbody #wpbody-content .wrap #dashboard-widgets-wrap #dashboard-widgets .postbox#dashboard_activity .inside ul.subsubsub li.trash a.current {
  border-color: #e4493d;
  color: #e4493d;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap #dashboard-widgets-wrap #dashboard-widgets .postbox#dashboard_activity .inside ul.subsubsub li.trash a:hover span, #wpwrap #wpcontent #wpbody #wpbody-content .wrap #dashboard-widgets-wrap #dashboard-widgets .postbox#dashboard_activity .inside ul.subsubsub li.trash a.current span {
  color: #e4493d;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap #dashboard-widgets-wrap #dashboard-widgets .postbox#dashboard_activity .inside ul.subsubsub li.approved a:hover, #wpwrap #wpcontent #wpbody #wpbody-content .wrap #dashboard-widgets-wrap #dashboard-widgets .postbox#dashboard_activity .inside ul.subsubsub li.approved a.current {
  border-color: #4caf50;
  color: #4caf50;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap #dashboard-widgets-wrap #dashboard-widgets .postbox#dashboard_activity .inside ul.subsubsub li.approved a:hover span, #wpwrap #wpcontent #wpbody #wpbody-content .wrap #dashboard-widgets-wrap #dashboard-widgets .postbox#dashboard_activity .inside ul.subsubsub li.approved a.current span {
  color: #4caf50;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap #dashboard-widgets-wrap #dashboard-widgets .meta-box-sortables.empty-container {
  padding: 20px;
  outline: none;
  border-radius: 0;
  margin-bottom: 20px;
  border: 2px dashed #cecece;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap #dashboard-widgets-wrap #dashboard-widgets .meta-box-sortables.empty-container::after {
  color: #a6a6a6;
  font-size: 14px;
  display: block !important;
}

@media only screen and (min-width: 1500px) and (max-width: 1800px) {
  #wpwrap #wpcontent #wpbody #wpbody-content .wrap #dashboard-widgets-wrap #dashboard-widgets #column4-sortables.empty-container {
    outline: none;
    border: 0;
  }
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap .page-title-action {
  background-color: transparent;
  border-radius: 35px;
  padding: 8px 16px;
  color: #4caf50;
  border-color: #4caf50;
  -webkit-transition: background .4s ease, color .2s ease;
  transition: background .4s ease, color .2s ease;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap .page-title-action:hover {
  background-color: #4caf50;
  color: #fff;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap .page-title-action.upload-view-toggle {
  border-color: #0073AA;
  color: #0073AA;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap .page-title-action.upload-view-toggle:hover {
  background-color: #0073AA;
  color: #fff;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap > ul.subsubsub {
  float: none;
  margin-top: 20px;
  border-bottom: 1px solid #e4e4e4;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap > ul.subsubsub li {
  color: #fff;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap > ul.subsubsub li a {
  display: inline-block;
  padding: 4px 14px;
  color: #414141;
  border-radius: 0;
  border: 0;
  font-weight: 500;
  -webkit-transition: color .4s ease, -webkit-box-shadow .4s ease;
  transition: color .4s ease, -webkit-box-shadow .4s ease;
  transition: box-shadow .4s ease, color .4s ease;
  transition: box-shadow .4s ease, color .4s ease, -webkit-box-shadow .4s ease;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap > ul.subsubsub li a:hover, #wpwrap #wpcontent #wpbody #wpbody-content .wrap > ul.subsubsub li a.current {
  color: #23282D;
  -webkit-box-shadow: 0 1px 0 0 #23282D;
          box-shadow: 0 1px 0 0 #23282D;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap > ul.subsubsub li a:hover span, #wpwrap #wpcontent #wpbody #wpbody-content .wrap > ul.subsubsub li a.current span {
  color: #23282D;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap > ul.subsubsub li.spam a:hover, #wpwrap #wpcontent #wpbody #wpbody-content .wrap > ul.subsubsub li.spam a.current {
  -webkit-box-shadow: 0 1px 0 0 #de901c;
          box-shadow: 0 1px 0 0 #de901c;
  color: #de901c;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap > ul.subsubsub li.spam a:hover span, #wpwrap #wpcontent #wpbody #wpbody-content .wrap > ul.subsubsub li.spam a.current span {
  color: #de901c;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap > ul.subsubsub li.trash a:hover, #wpwrap #wpcontent #wpbody #wpbody-content .wrap > ul.subsubsub li.trash a.current {
  -webkit-box-shadow: 0 1px 0 0 #e4493d;
          box-shadow: 0 1px 0 0 #e4493d;
  color: #e4493d;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap > ul.subsubsub li.trash a:hover span, #wpwrap #wpcontent #wpbody #wpbody-content .wrap > ul.subsubsub li.trash a.current span {
  color: #e4493d;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap > ul.subsubsub li.approved a:hover, #wpwrap #wpcontent #wpbody #wpbody-content .wrap > ul.subsubsub li.approved a.current {
  -webkit-box-shadow: 0 1px 0 0 #4caf50;
          box-shadow: 0 1px 0 0 #4caf50;
  color: #4caf50;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap > ul.subsubsub li.approved a:hover span, #wpwrap #wpcontent #wpbody #wpbody-content .wrap > ul.subsubsub li.approved a.current span {
  color: #4caf50;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap .search-box {
  padding: 20px 0;
  float: none;
  text-align: right;
  margin-bottom: 20px;
  border-bottom: 1px solid #eaeaea;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap .search-box label {
  display: none;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap .search-box input[type="search"] {
  display: inline-block;
  padding: 4px 16px;
  margin: 0;
  float: none;
  border-right: 0;
  margin-right: -3px;
  border-radius: 35px 0 0 35px;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap .search-box input[type="submit"] {
  background-color: #4caf50;
  display: inline-block;
  color: #fff;
  padding: 4px 12px;
  -webkit-box-shadow: 0 0 0;
          box-shadow: 0 0 0;
  border-radius: 0 35px 35px 0;
  border: 1px solid #4caf50;
  -webkit-box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.45) inset;
          box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.45) inset;
  -webkit-transition: background .4s ease, color .2s ease, border .4s ease, -webkit-box-shadow .4s ease;
  transition: background .4s ease, color .2s ease, border .4s ease, -webkit-box-shadow .4s ease;
  transition: background .4s ease, color .2s ease, border .4s ease, box-shadow .4s ease;
  transition: background .4s ease, color .2s ease, border .4s ease, box-shadow .4s ease, -webkit-box-shadow .4s ease;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap .search-box input[type="submit"]:hover {
  background-color: #54bb58;
  border: 1px solid #54bb58;
  -webkit-box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.45) inset;
          box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.45) inset;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap .search-box input[type="submit"]:focus, #wpwrap #wpcontent #wpbody #wpbody-content .wrap .search-box input[type="submit"]:active {
  background-color: #42a046;
  border: 1px solid #42a046;
  -webkit-box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.45) inset;
          box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.45) inset;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap .tablenav {
  height: auto;
  margin: 20px 0;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap table.wp-list-table {
  margin-top: 30px;
  border-radius: 9px;
  border-color: #eaeaea;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap table.wp-list-table .inline-edit-row input, #wpwrap #wpcontent #wpbody #wpbody-content .wrap table.wp-list-table .inline-edit-row select, #wpwrap #wpcontent #wpbody #wpbody-content .wrap table.wp-list-table .inline-edit-row textarea {
  margin-bottom: 5px;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap .form-table, #wpwrap #wpcontent #wpbody #wpbody-content .wrap #addtag {
  border-collapse: separate;
  border-spacing: 0 15px;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap .form-table .form-field label, #wpwrap #wpcontent #wpbody #wpbody-content .wrap #addtag .form-field label {
  margin-bottom: 10px;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap .form-table tbody tr th, #wpwrap #wpcontent #wpbody #wpbody-content .wrap #addtag tbody tr th {
  padding: 10px 20px;
  vertical-align: middle;
  -webkit-transition: border .4s ease;
  transition: border .4s ease;
  border-right: 1px solid #e4e4e4;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap .form-table tbody tr td, #wpwrap #wpcontent #wpbody #wpbody-content .wrap #addtag tbody tr td {
  padding-left: 25px;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap .form-table tbody tr:hover th, #wpwrap #wpcontent #wpbody #wpbody-content .wrap #addtag tbody tr:hover th {
  border-color: #94c4db;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap .submit {
  margin-bottom: 0;
  padding: 30px 0;
  text-align: center;
  margin-top: 40px;
  border-top: 1px solid #eaeaea;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap .nav-tab-wrapper {
  border-color: #eaeaea;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap .nav-tab-wrapper a.nav-tab {
  background-color: transparent;
  border: 0;
  font-weight: 400;
  margin-left: 0;
  margin-right: 10px;
  -webkit-transition: color .4s ease, -webkit-box-shadow .4s ease;
  transition: color .4s ease, -webkit-box-shadow .4s ease;
  transition: color .4s ease, box-shadow .4s ease;
  transition: color .4s ease, box-shadow .4s ease, -webkit-box-shadow .4s ease;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap .nav-tab-wrapper a.nav-tab:hover, #wpwrap #wpcontent #wpbody #wpbody-content .wrap .nav-tab-wrapper a.nav-tab.nav-tab-active {
  color: #23282D;
  -webkit-box-shadow: 0 1px 0 0 #23282D;
          box-shadow: 0 1px 0 0 #23282D;
}

#wpwrap #wpcontent #wpbody #wpbody-content .wrap.woocommerce .form-table .woocommerce-help-tip {
  margin: 0;
  position: relative;
}

#wpwrap #wpcontent #wpbody #wpbody-content .woocommerce-layout {
  padding-top: 61px;
}

#wpwrap #wpcontent #wpbody #wpbody-content .woocommerce-layout .woocommerce-layout__header {
  top: 69px;
  border-bottom: 1px solid #eaeaea;
}

#wpwrap #wpcontent #wpbody #wpbody-content .woocommerce-layout .woocommerce-layout__primary {
  margin: 0;
}

#wpwrap #wpcontent #wpbody #wpbody-content .woocommerce-layout .woocommerce-layout__primary .woocommerce-card {
  margin: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 0 0;
          box-shadow: 0 0 0;
  border-bottom: 1px solid #eaeaea;
}

#wpwrap #wpcontent #wpbody #wpbody-content .woocommerce-layout .woocommerce-layout__primary .woocommerce-card:before {
  display: none;
}

#wpwrap #wpcontent #wpbody #wpbody-content .woocommerce-layout .woocommerce-layout__main {
  margin-top: 40px;
}

#wpwrap #wpcontent #wpbody #wpbody-content .woocommerce-layout .woocommerce-layout__main .woocommerce-accordion .components-card {
  margin-bottom: 10px;
}

#wpwrap #wpcontent .media-frame .media-toolbar {
  border-radius: 9px;
  -webkit-box-shadow: 0 0 0;
          box-shadow: 0 0 0;
  border: 1px solid #eaeaea;
}

#wpwrap #wpcontent .media-frame .media-toolbar .view-switch {
  padding: 0;
}

#wpwrap #wpcontent .media-frame .media-toolbar .media-toolbar-primary {
  margin: 0;
}

#wpwrap #wpcontent .media-frame .media-toolbar select {
  vertical-align: top;
}

#wpwrap #wpcontent #woocommerce-embedded-root .woocommerce-layout .woocommerce-layout__header {
  top: 69px;
  height: auto;
  border-bottom: 1px solid #eaeaea;
  -webkit-transition: top .5s ease;
  transition: top .5s ease;
}

#wpwrap #wpcontent #woocommerce-embedded-root .woocommerce-layout .woocommerce-layout__header .woocommerce-layout__activity-panel {
  top: 69px;
  -webkit-transition: top .5s ease;
  transition: top .5s ease;
}

#wpwrap #wpcontent #woocommerce-embedded-root .woocommerce-layout .woocommerce-layout__header .woocommerce-layout__activity-panel .woocommerce-layout__activity-panel-wrapper {
  top: 130px;
  -webkit-box-shadow: 0 0 0;
          box-shadow: 0 0 0;
}

#wpwrap #wpcontent #woocommerce-embedded-root .woocommerce-layout .woocommerce-layout__header.is-scrolled {
  top: 0;
  -webkit-box-shadow: 0 0 0;
          box-shadow: 0 0 0;
}

#wpwrap #wpcontent #woocommerce-embedded-root .woocommerce-layout .woocommerce-layout__header.is-scrolled .woocommerce-layout__activity-panel {
  top: 0;
}

#wpwrap #wpcontent #woocommerce-embedded-root .woocommerce-layout .woocommerce-layout__header.is-scrolled .woocommerce-layout__activity-panel .woocommerce-layout__activity-panel-wrapper {
  top: 61px;
  height: calc(100vh - 61px);
}

#wpwrap #wpfooter {
  position: relative;
  margin-left: 250px;
  padding-right: 20px;
  padding-top: 20px;
}

body.woocommerce-embed-page #screen-meta-links {
  top: 0;
  margin-top: 60px;
}

body.woocommerce-page #wpwrap #wpcontent #wpbody #wpbody-content .wrap .woocommerce-layout .woocommerce-layout__header {
  left: 250px;
  -webkit-box-shadow: 0 0 0;
          box-shadow: 0 0 0;
  border-bottom: 1px solid #eaeaea;
  -webkit-transition: top .4s ease;
  transition: top .4s ease;
}

body.woocommerce-page #wpwrap #wpcontent #wpbody #wpbody-content .wrap .woocommerce-layout .woocommerce-layout__header .woocommerce-layout__activity-panel {
  top: 69px;
  -webkit-transition: top .4s ease;
  transition: top .4s ease;
}

body.woocommerce-page #wpwrap #wpcontent #wpbody #wpbody-content .wrap .woocommerce-layout .woocommerce-layout__header .woocommerce-layout__activity-panel .woocommerce-layout__activity-panel-wrapper {
  top: 130px;
  -webkit-box-shadow: 0 0 0;
          box-shadow: 0 0 0;
}

body.woocommerce-page #wpwrap #wpcontent #wpbody #wpbody-content .wrap .woocommerce-layout .woocommerce-layout__header.is-scrolled {
  top: 0;
}

body.woocommerce-page #wpwrap #wpcontent #wpbody #wpbody-content .wrap .woocommerce-layout .woocommerce-layout__header.is-scrolled .woocommerce-layout__activity-panel {
  top: 0;
}

body.woocommerce-page #wpwrap #wpcontent #wpbody #wpbody-content .wrap .woocommerce-layout .woocommerce-layout__header.is-scrolled .woocommerce-layout__activity-panel .woocommerce-layout__activity-panel-wrapper {
  top: 61px;
  height: calc(100vh - 61px);
}

body.woocommerce-page #wpwrap #wpcontent #wpbody #wpbody-content #screen-meta-links {
  margin-top: 61px;
}

.is-dragging-metaboxes #wpwrap #wpcontent #wpbody #wpbody-content .wrap #dashboard-widgets-wrap #dashboard-widgets .meta-box-sortables, .is-dragging-metaboxes #wpwrap #wpcontent #wpbody #wpbody-content .wrap #dashboard-widgets-wrap #dashboard-widgets .meta-box-sortables.empty-container {
  outline: none;
  border: 3px dashed #0073AA;
}

#file-editor-warning .notification-dialog-background {
  background-color: #485054;
}

#file-editor-warning .notification-dialog {
  border-radius: 18px;
  -webkit-box-shadow: 0 0 0;
          box-shadow: 0 0 0;
}

body.folded #wpwrap #wpcontent, body.folded #wpwrap #wpfooter {
  margin-left: 60px;
}

body.folded #wpwrap #wpcontent #wpadminbar, body.folded #wpwrap #wpfooter #wpadminbar {
  position: relative;
}

body.folded #wpwrap #adminmenumain {
  position: relative;
  z-index: 999999;
}

body.folded #wpwrap #adminmenumain #adminmenuback, body.folded #wpwrap #adminmenumain #adminmenuwrap, body.folded #wpwrap #adminmenumain #adminmenuwrap #adminmenu, body.folded #wpwrap #adminmenumain #adminmenuwrap #adminmenu .wp-submenu {
  padding: 0;
  max-width: 60px;
}

@media (max-width: 782px) {
  body.folded #wpwrap #adminmenumain #adminmenuback, body.folded #wpwrap #adminmenumain #adminmenuwrap, body.folded #wpwrap #adminmenumain #adminmenuwrap #adminmenu, body.folded #wpwrap #adminmenumain #adminmenuwrap #adminmenu .wp-submenu {
    max-width: 220px;
  }
}

body.folded #wpwrap #adminmenumain #adminmenuwrap ul#adminmenu li {
  margin: 6px 0;
  width: 100%;
  display: block;
  text-align: center;
}

body.folded #wpwrap #adminmenumain #adminmenuwrap ul#adminmenu li a {
  width: 38px;
  height: 38px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body.folded #wpwrap #adminmenumain #adminmenuwrap ul#adminmenu li a .wp-menu-image {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20px;
  height: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body.folded #wpwrap #adminmenumain #adminmenuwrap ul#adminmenu li a .wp-menu-image img {
  padding: 0;
}

body.folded #wpwrap #adminmenumain #adminmenuwrap ul#adminmenu li a .wp-menu-image:before {
  padding: 0;
}

body.folded #wpwrap #adminmenumain #adminmenuwrap ul#adminmenu li a .update-plugins {
  background-color: #0073AA;
  right: 20px;
  color: #ffffff;
  margin-left: 0;
}

body.folded #wpwrap #adminmenumain #adminmenuwrap ul#adminmenu li .wp-submenu {
  background-color: #fff;
  position: absolute;
  opacity: 0;
  top: 0;
  padding: 0;
  visibility: hidden;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  left: 100%;
  -webkit-transition: opacity .3s ease, visibility .4s ease, left .4s ease, -webkit-transform .4s;
  transition: opacity .3s ease, visibility .4s ease, left .4s ease, -webkit-transform .4s;
  transition: opacity .3s ease, visibility .4s ease, left .4s ease, transform .4s;
  transition: opacity .3s ease, visibility .4s ease, left .4s ease, transform .4s, -webkit-transform .4s;
}

body.folded #wpwrap #adminmenumain #adminmenuwrap ul#adminmenu li .wp-submenu .wp-submenu-head {
  display: none;
}

body.folded #wpwrap #adminmenumain #adminmenuwrap ul#adminmenu li .wp-submenu li {
  margin: 0;
  text-align: left;
}

body.folded #wpwrap #adminmenumain #adminmenuwrap ul#adminmenu li .wp-submenu li a {
  display: block;
  width: 100%;
  height: auto;
}

body.folded #wpwrap #adminmenumain #adminmenuwrap ul#adminmenu li:hover .wp-submenu {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

body.folded #wpwrap #adminmenumain #adminmenuwrap ul#adminmenu li.wp-has-current-submenu ul.wp-submenu {
  margin: 0;
  border: 0;
  -webkit-box-shadow: 3px 3px 8px 0px #23282d1f;
          box-shadow: 3px 3px 8px 0px #23282d1f;
}

body.folded #wpwrap #adminmenumain #adminmenuwrap ul#adminmenu li.wp-has-current-submenu ul.wp-submenu:before {
  display: none;
}

body.folded #wpwrap #adminmenumain #adminmenuwrap ul#adminmenu li.wp-has-current-submenu ul.wp-submenu li {
  margin-bottom: 0;
}

body.folded #wpwrap #adminmenumain #adminmenuwrap ul#adminmenu li.wp-has-current-submenu ul.wp-submenu li a {
  border-radius: 0;
  padding: 10px;
  color: #9b9da7;
  border: 0;
  font-weight: 400;
  -webkit-box-shadow: 0 0 0;
          box-shadow: 0 0 0;
  -webkit-transition: background .4s ease, color .4s ease;
  transition: background .4s ease, color .4s ease;
}

body.folded #wpwrap #adminmenumain #adminmenuwrap ul#adminmenu li.wp-has-current-submenu ul.wp-submenu li a:hover {
  background-color: rgba(0, 115, 170, 0.1);
  color: #0073AA;
}

body.folded #wpwrap #adminmenumain #adminmenuwrap ul#adminmenu li.wp-has-current-submenu ul.wp-submenu li.current a {
  background-color: rgba(0, 115, 170, 0.1);
  color: #0073AA;
}

body.folded #wpwrap #adminmenumain #adminmenuwrap ul#adminmenu li.wp-has-current-submenu ul.wp-submenu li:last-of-type {
  margin-bottom: 0;
}

body.folded #wpwrap #adminmenumain #adminmenuwrap ul#adminmenu li#collapse-menu button {
  text-align: center;
}

body.folded #wpwrap #adminmenumain #adminmenuwrap ul#adminmenu li#collapse-menu button .collapse-button-icon {
  position: relative;
  display: inline-block;
}

body.folded #wpwrap #adminmenumain #adminmenuwrap ul#adminmenu li:first-of-type {
  margin: 15px 0;
}

body.folded #wpwrap #wpcontent #wpbody #wpbody-content .wrap .woocommerce-layout .woocommerce-layout__header {
  left: 60px;
}

@media (max-width: 1024px) {
  #wpwrap #wpcontent #wpadminbar .quicklinks ul#wp-admin-bar-root-default > li:not(:nth-child(3)) {
    display: none;
  }
}

@media (max-width: 960px) {
  .auto-fold #adminmenu li.menu-top {
    width: 100%;
  }
  .auto-fold #adminmenu li.menu-top a {
    display: block;
  }
  .auto-fold #adminmenu li.menu-top a .wp-menu-name {
    position: relative;
    left: 0;
    -webkit-hyphens: inherit;
        -ms-hyphens: inherit;
            hyphens: inherit;
    word-wrap: inherit;
    word-break: inherit;
  }
  .auto-fold #adminmenu li.menu-top ul.wp-submenu li.wp-submenu-head {
    display: none;
  }
  .auto-fold #adminmenu li#collapse-menu {
    display: none;
  }
}

@media (max-width: 782px) {
  #wpwrap #wpcontent {
    margin-left: 0 !important;
  }
  #wpwrap #wpcontent #wpadminbar {
    padding: 0;
  }
  #wpwrap #wpcontent #wpadminbar .quicklinks ul li a {
    padding: 10px;
    height: auto;
    width: auto;
    overflow: inherit;
    white-space: inherit;
    line-height: normal;
    text-indent: inherit;
  }
  #wpwrap #wpcontent #wpadminbar .quicklinks ul li a:before {
    font-size: 20px;
    top: 0;
    width: auto;
  }
  #wpwrap #wpcontent #wpadminbar .quicklinks ul li#wp-admin-bar-menu-toggle {
    display: inline-block !important;
    border-right: 1px solid #eaeaea;
  }
  #wpwrap #wpcontent #wpadminbar .quicklinks ul li#wp-admin-bar-menu-toggle a {
    padding: 0;
  }
  #wpwrap #wpcontent #wpadminbar .quicklinks ul li#wp-admin-bar-menu-toggle a span.ab-icon {
    float: none;
    width: auto;
    height: inherit;
    font-size: inherit;
  }
  #wpwrap #wpcontent #wpadminbar .quicklinks ul li#wp-admin-bar-menu-toggle a span.ab-icon:before {
    float: none;
  }
  #wpwrap #wpcontent #wpadminbar .quicklinks ul li#wp-admin-bar-my-account a img {
    position: relative;
    top: 0;
    right: 0;
  }
}
/*# sourceMappingURL=rd-dashboard.css.map */