$wp-color: #0073AA;
$wp-black: #23282D;
$wp-borde: #eaeaea;

$body-color: #fafafa;
$link-color: #007cba;

$color-menu: #656565;
$color-menu-icon: #696969;
$color-quicklinks: #7b7b7b;
$fondo-hover-menu: rgba($wp-color, .1);
$fondo-hover-submenu: #f3f3f3;

*,*:before, *:after{
    box-sizing: border-box;
}
html.wp-toolbar{
    padding-top: 0;
}
a, a:hover{
    color: $link-color;
    outline: none;
    box-shadow: 0 0 0;
}
body:not(.iframe){
    background-color: $body-color;
    overflow-x: hidden;
}
#dashboard-widgets .button-link,
#dashboard-widgets li a,
.community-events-footer a{
    box-shadow: 0 0 0;
}
.wp-core-ui{
    #wpwrap{
        .button,
        .button-primary{
            background-color: #007cba;
            color: #fff;
            outline: none;
            border: 0;
            padding: 5px 10px;
            border-radius: 9px;
            text-shadow: 0 0 0;
            border: 1px solid #007cba;
            box-shadow: 0 0 0 2px rgba(#fff, .45) inset;
            transition: background .4s ease, color .4s ease, border .4s ease, box-shadow .4s ease;
            .dashicons{
                color: $wp-color;
                line-height: 1.3;
                transition: color .4s ease;
            }
            &:hover{
                background-color: #0893da;
                color: #fff;
                border-color: #0893da;
                box-shadow: 0 0 0 2px rgba(#fff, .45) inset;
                .dashicons{
                    color: #fff;
                }
            }
            &:focus, &:active{
                background-color: #007cba;
                color: #fff;
                border-color: #007cba;
                box-shadow: 0 0 0 1px rgba(#fff, .45) inset;
                .dashicons{
                    color: #fff;
                }
            }
            &.button-secondary{
                background-color: #d24339;
                border-color: #d24339;
                &:hover{
                    background-color: #ea5348;
                    border-color: #ea5348;
                }
                &:focus, &:active{
                    background-color: #d24339;
                    color: #fff;
                    border-color: #d24339;
                    box-shadow: 0 0 0 1px rgba(#fff, .45) inset;
                    .dashicons{
                        color: #fff;
                    }
                }
            }
            &.update-now{
                &:before{
                    color: #fff;
                }
            }
        }
    }
    .notice, .woocommerce-message{
        background-color: #fff;
        padding: 10px;
        overflow: inherit;
        border: 0;
        margin: 0;
        border-radius: 0;
        padding-left: 20px;
        margin-top: 15px;
        margin-bottom: 10px;
        box-shadow: 0 0 0 0;
        padding-right: 45px;
        border: 1px solid $wp-borde;
        .notice-dismiss{
            background-color: transparent;
            position: absolute;
            display: flex;
            padding: 6px 10px;
            font-size: 0;
            top: 0;
            height: 100%;
            right: 0;
            margin: 0;
            box-shadow: 0 0 0;
            align-items: center;
            transition: box-shadow .2s ease;
            box-shadow: 0 0 0 1px $wp-borde;
            &:before{
                top: 0;
                left: 0;
                color: #7d7d7d;
                transition: color .2s ease;
            }
            &:hover{
                box-shadow: 0 0 0 1px #DC3232;
                &:before{
                    color: #DC3232;
                }
            }
        }
        p{
            color: $wp-black;
            a{
                color: $wp-black;
            }
        }
        &.elementor-message{
            background-color: $wp-borde;
            padding: 20px;
            .elementor-message-icon{
                .e-logo-wrapper{
                    background-color: #fff;
                    i{
                        color: #7d7d7d;
                    }
                }
            }
            .elementor-message-content{
                .elementor-message-actions{
                    a{
                        background-color: #fff;
                        color: $wp-black;
                        &:hover{
                            background-color: $wp-black;
                            color: #fff;
                        }
                    }
                }
            }
            .notice-dismiss{
                background-color: $wp-borde;
                &:before{
                    color: #7d7d7d;
                }
            }
        }
    }
}

#wpwrap{
    #adminmenumain{
        position: relative;
        z-index: 125000;
        & > a{
            display: none;
        }
        #adminmenuback, #adminmenuwrap, #adminmenuwrap #adminmenu, #adminmenuwrap #adminmenu .wp-submenu{
            width: 100%;
            max-width: 250px;
        }
        #adminmenuback{
            background-color: #fff;
            background-repeat: repeat;
            height: 100%;
            border-right: 1px solid $wp-borde;
        }
        #adminmenuwrap{
            background-color: transparent;
            position: absolute !important;
            top: 0 !important;
            ul#adminmenu{
                background-color: transparent;
                padding: 0;
                margin: 0;
                width: 100%;
                padding-top: 13px;
                li{
                    background-color: transparent !important;
                    a{
                        color: $color-menu;
                        padding: 4px;
                        border-radius: 0;
                        transition: color .4s ease, background .4s ease;
                        &:after{
                            display: none;
                        }
                        .wp-menu-image{
                            &.svg{
                                filter: saturate(0) brightness(0.6);
                            }
                        }
                        &.wp-has-current-submenu, &:hover, &:focus{
                            background-color: $fondo-hover-menu;
                            color: $wp-color;
                            .wp-menu-image{
                                &:before{
                                    color: $wp-color;
                                }
                                &.svg{
                                    filter: saturate(0) brightness(0);
                                }
                            }
                        }
                        .wp-menu-image:before{
                            color: $color-menu-icon;
                        }
                        .update-plugins{
                            background-color: $wp-color;
                            margin-left: 10px;
                            position: absolute;
                            right: 15px;
                            color: #fff;
                            box-shadow: 0 0 0 1px $wp-color;
                        }
                        
                    }
                    &:after{
                        display: none;
                    }
                    .wp-submenu{
                        background-color: #fff;
                        left: 100%;
                        opacity: 0;
                        top: 0;
                        padding: 0;
                        visibility: hidden;
                        border-radius: 0;
                        transform: scale(.95);
                        box-shadow: 3px 3px 8px 0px #23282d1f;
                        transition: opacity .3s ease, visibility .4s ease, transform .4s;
                    }
                    &.wp-has-current-submenu{
                        ul.wp-submenu{
                            background-color: transparent;
                            position: relative;
                            opacity: 1;
                            left: 0;
                            padding: 0;
                            border-radius: 0;
                            margin-top: 10px;
                            margin-bottom: 10px;
                            visibility: visible;
                            box-shadow: 0 0 0;
                            transform: scale(1);
                            li{
                                a{
                                    border-radius: 0;
                                    padding: 8px 20px;
                                    box-shadow: 0 0 0 0 $wp-color inset;
                                    transition: box-shadow .2s ease;
                                    &:hover, &:focus{
                                        background-color: transparent;
                                        color: $wp-color;
                                        box-shadow: -1px 0 0 0 $wp-color inset;
                                    }
                                }
                                &.current{
                                    a{
                                        background-color: transparent;
                                        color: $wp-color;
                                        box-shadow: -1px 0 0 0 $wp-color inset;
                                    }
                                }
                            }
                        }
                    }
                    &:not(.wp-has-current-submenu){
                        ul.wp-submenu{
                            border: 0;
                            li{
                                a{
                                    color: #9b9da7;
                                    padding: 10px;
                                    &:hover{
                                        background-color: $fondo-hover-menu;
                                        color: $wp-color;
                                        &.svg{
                                            filter: saturate(0) brightness(0);
                                        }
                                    }
                                    .update-plugins{
                                        background-color: #868996;
                                        right: 20px;
                                        color: #ffffff;
                                        margin-left: 0;
                                        box-shadow: 0 0 0 1px #868996;
                                    }
                                    
                                }
                            }
                        }
                        
                        &:hover{
                            div.wp-menu-image:before{
                                color: $wp-color;
                            }
                            .wp-submenu{
                                visibility: visible;
                                opacity: 1;
                                transform: scale(1);
                            }
                        }
                    }
                    &.current, &:hover{
                        & > a{
                            background-color: $fondo-hover-menu;
                            color: $wp-color;
                            box-shadow: 0 0 0 0;
                            .wp-menu-image{
                                &:before{
                                    color: $wp-color;
                                }
                                &.svg{
                                    filter: saturate(0) brightness(0);
                                }
                            }
                        }
                    }
                    &.wp-menu-separator{
                        .separator{
                            background-color: $wp-borde;
                            height: 1px;
                            margin-top: 13px;
                        }
                    }
                    &#collapse-menu{
                        button{
                            color: $color-menu;
                            transition: color .2s ease;
                            &:hover, &:focus{
                                color: $wp-color;
                            }
                        }
                    }
                    &.wp-has-submenu{
                        a{
                            .wp-menu-name{
                                &:before,&:after{
                                    content: "";
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #wpcontent{
        margin-left: 250px;
        padding: 0;
        #wpadminbar{
            background-color: #fff;
            position: relative;
            padding: 0 20px;
            height: auto;
            border-bottom: 1px solid $wp-borde;
            .quicklinks{
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;
                ul{
                    li{
                        float: none;
                        display: inline-block;
                        vertical-align: middle;
                        margin-right: 5px;
                        &:last-of-type{
                            margin-right: 0;
                        }
                        &#wp-admin-bar-menu-toggle{
                            display: none;
                        }
                        &#wp-admin-bar-user-info{
                            img{
                                display: none;
                            }
                            .display-name{
                                height: auto;
                                line-height: inherit;
                            }
                        }
                        &#wp-admin-bar-my-account{
                            img{
                                border: 0;
                                border-radius: 35px;
                            }
                        }
                        a{
                            background-color: transparent;
                            color: $color-quicklinks;
                            padding: 18px 16px;
                            transition: color .4s ease, box-shadow .4s ease;
                            .ab-label{
                                color: $color-menu;
                                opacity: 1;
                                transition: color .4s ease;
                            }
                            &:before{
                                color: $color-menu;
                                transition: color .4s ease;
                            }
                            .ab-icon{
                                &:before{
                                    color: $color-menu;
                                    transition: color .4s ease;
                                }
                            }
                            .svg{
                                filter: saturate(0) contrast(.5);
                            }
                            &:hover{
                                background-color: transparent;
                                color: $wp-black;
                                box-shadow: 0 1px 0 0 $wp-black;
                                .svg{
                                    filter: saturate(0);
                                }
                                .ab-label{
                                    color: $wp-black;
                                }
                                &:before{
                                    color: $wp-black;
                                }
                                .ab-icon{
                                    &:before{
                                        color: $wp-black;
                                    }
                                }
                            }
                            .wp-ui-notification{
                                padding: 0 !important;
                                display: inline-flex;
                                width: 18px;
                                height: 18px;
                                padding: 0;
                                color: #fff;
                                margin-left: auto;
                                border-radius: 35px;
                                align-items: center;
                                justify-content: center;
                            }
                        }
                        .ab-sub-wrapper{
                            background-color: #fff;
                            border-radius: 0;
                            top: calc(100% + 1px);
                            box-shadow: 0px 3px 8px 0px #23282d1f;
                            ul{
                                padding: 10px 0;
                                li{
                                    display: block;
                                    margin: 0;
                                    padding: 0 10px;
                                    a{
                                        display: flex;
                                        align-items: center;
                                        padding: 6px 10px;
                                        transition: color .4s ease;
                                        &:hover{
                                            box-shadow: 0 0 0;
                                        }
                                    }
                                }
                            }
                            #wp-admin-bar-wp-logo-external{
                                background-color: transparent;
                                border-top: 1px solid $wp-borde;
                                margin-top: 10px;
                            }
                        }
                        &#wp-admin-bar-wp-logo{
                            display: none;
                        }
                    }
                }
            }
        }
        #wpbody{
            #wpbody-content{
                padding: 0;
                #screen-meta, #screen-meta-links, .wrap{
                    margin: 0;
                }
                #screen-meta-links{
                    background-color: $body-color;
                    padding: 0 20px;
                    width: 100%;
                    float: none;
                    text-align: right;
                    & > div{
                        float: none;
                        margin: 0;
                        display: inline-block;
                        button{
                            background-color: #fff;
                            padding: 8px 18px;
                            height: auto;
                            color: #333;
                            box-shadow: 0 0 0 0;
                            border-radius: 0;
                            border: 1px solid $wp-borde;
                            border-top: 0;
                            transition: border .2s ease, background .2s ease, color .2s ease;
                            &:after{
                                padding-right: 0;
                                margin-top: 2px;
                                vertical-align: middle;
                            }
                            &.screen-meta-active{
                                background-color: $wp-color;
                                border-color: $wp-color;
                                color: #fff;
                                &:after{
                                    color: #fff;
                                }
                            }
                        }
                    }
                    #screen-options-link-wrap{
                        margin-right: 15px;
                    }
                }
                #screen-meta-links ~ #message, #screen-meta-links ~ .notice{
                    display: none;
                }
                #screen-meta{
                    margin: 0;
                    border: 0;
                    box-shadow: 0 0 0;
                    border-bottom: 1px solid $wp-borde;
                    #contextual-help-wrap{
                        #contextual-help-back{
                            background-color: #fff;
                            border-color: $wp-borde;
                        }
                        #contextual-help-columns{
                            .contextual-help-tabs{
                                ul{
                                    li{
                                        border: 0;
                                        margin: 0;
                                        box-shadow: 0 0 0;
                                        a{
                                            color: $color-menu;
                                            padding: 8px 12px;
                                            border: $wp-borde;
                                            box-shadow: 0 0 0;
                                        }
                                        &.active{
                                            border: 0;
                                            a{
                                                background-color: #edeff4;
                                                color: $wp-black;
                                                box-shadow: 1px 0 0 0 $wp-black;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    #adv-settings{
                        p{
                            margin-top: 0;
                        }
                    }
                }
                .wrap{
                    background-color: $body-color;
                    padding: 30px;
                    & > h1{
                        margin-bottom: 20px;
                    }
                    input:not([type="submit"]), select, textarea{
                        border-color: #e4e4e4;
                        padding: 5px 10px;
                        margin-bottom: 5px;
                        box-shadow: 0 0 0;
                        border-radius: 9px;
                        transition: color .2s ease, border .4s ease;
                        &:hover, &:focus{
                            color: $wp-black;
                            border-color: #94c4db;
                        }
                    }
                    input[type="checkbox"]{
                        border-radius: 4px;
                    }
                    select{
                        border-color: #e4e4e4;
                        box-shadow: 0 0 0 0;
                        border-radius: 9px;
                        padding-right: 25px;
                    }
                    #welcome-panel{
                        background: linear-gradient(45deg, #0073aa, #0d91d0);
                        border-radius: 0;
                        border: 0;
                        padding: 20px;
                        box-shadow: 0 0 0;
                        margin-bottom: 30px;
                        border-bottom: 0;
                        .welcome-panel-content{
                            margin: 0;
                            h2{
                                color: #FFF;
                            }
                            p{
                                color: rgba(#fff, .75);
                            }
                            .welcome-panel-column-container{
                                margin-top: 20px;
                                &:after{
                                    content: "";
                                    clear: both;
                                    display: block;
                                }
                            }
                        }
                        a.welcome-panel-close{
                            border-radius: 0;
                            right: 0;
                            top: 0;
                            font-weight: 600;
                            color: rgba(#fff, .75);
                            padding-left: 30px;
                            transition: background .4s ease;
                            &:before{
                                color: rgba(#fff, .75);
                                left: 5px;
                                top: calc(50% + 1px);
                                transform: translateY(-50%);
                            }
                            &:hover{
                                background-color: rgba(#fff, .2);
                                color: #fff;
                                &:before{
                                    color: #fff;
                                }
                            }
                        }
                        .welcome-panel-column{
                            h3{
                                color: #fff;
                                display: block;
                                margin: 0;
                                margin-bottom: 25px;
                            }
                            a.button{
                                background-color: transparent;
                                padding: 10px 30px;
                                border-radius: 35px;
                                color: #fff;
                                font-weight: 600;
                                min-height: auto;
                                border: 2px solid #fff;
                                box-shadow: 0 0 0 0;
                                &:hover{
                                    background-color: #fff;
                                    color: $wp-color;
                                }
                            }
                            p.hide-if-no-customize{
                                a{
                                    color: rgba(#fff, .75);
                                }
                            }
                            ul{
                                li{
                                    a{
                                        color: rgba(#fff, .75);
                                        &:before{
                                            color: rgba(#fff, .75);
                                        }
                                        &:hover{
                                            color: #fff;
                                            text-decoration: underline;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    #dashboard-widgets-wrap{
                        #dashboard-widgets{
                            .postbox{
                                border-radius: 0;
                                padding: 15px;
                                box-shadow: 0 0 0;
                                border: 1px solid $wp-borde;
                                .postbox-header{
                                    margin-bottom: 25px;
                                    padding-bottom: 15px;
                                    border-color: $wp-borde;
                                    h2{
                                        padding-left: 0;
                                    }
                                    .handle-actions{
                                        button{
                                            width: 36px;
                                            border-radius: 0;
                                            box-shadow: 0 0 0;
                                            margin-right: 6px;
                                            transition: background .4s ease;
                                            &:hover{
                                                background-color: $wp-borde;
                                            }
                                            &:last-of-type{
                                                margin-right: 0;
                                            }
                                        }
                                    }
                                }
                                &.closed{
                                    .postbox-header{
                                        margin-bottom: 0;
                                        padding-bottom: 0;
                                        border-color: #fff;
                                    }
                                }
                                .inside{
                                    form{
                                        & > div{
                                            margin-bottom: 20px;
                                        }
                                        label{
                                            margin-bottom: 10px;
                                        }
                                        textarea{
                                            padding-top: 6px;
                                            padding-bottom: 6px;
                                        }
                                        .textarea-wrap{
                                            margin-bottom: 0;
                                        }
                                    }
                                }
                                &#dashboard_right_now{
                                    .inside{
                                        ul{
                                            li{
                                                a{
                                                    color: #8899a0;
                                                    &:before{
                                                        color: #7e898e;
                                                    }
                                                    &:hover{
                                                        color: #5a676d;
                                                        text-decoration: underline;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                &#dashboard_primary{
                                    .inside{
                                        #community-events{
                                            padding: 0;
                                            .activity-block{
                                                margin: 0 -15px;
                                            }
                                            ul.community-events-results{
                                                border-bottom: 0;
                                                li{
                                                    border-top: 0;
                                                    border-bottom: 1px solid #eee;
                                                }
                                            }
                                            .community-events-form{
                                                label{
                                                    display: block;
                                                }
                                                input[type="text"]{
                                                    padding: 3px 10px;
                                                    width: 100%;
                                                    height: auto;
                                                    margin-bottom: 10px;
                                                }
                                                input[type="submit"]{
                                                    vertical-align: middle;
                                                }
                                                button{
                                                    display: inline-block;
                                                    color: #a6a6a6;
                                                    font-size: 12px;
                                                    text-decoration: none;
                                                    &:hover{
                                                        color: #e44e43;
                                                        text-decoration: underline;
                                                    }
                                                }
                                            }
                                        }
                                        .wordpress-news, .community-events-footer{
                                            a{
                                                color: #8899a0;
                                                &:hover{
                                                    color: #5a676d;
                                                    text-decoration: underline;
                                                }
                                            }
                                        }
                                    }
                                }
                                &#dashboard_quick_press{
                                    .inside{
                                        .submit{
                                            margin-top: 10px;
                                            padding: 15px 0;
                                        }
                                    }
                                }
                                &#dashboard_activity{
                                    .inside{
                                        padding: 0;
                                        .activity-block{
                                            margin: 0 -15px;
                                        }
                                        ul.subsubsub{
                                            float: none;
                                            margin: 20px 0;
                                            padding: 10px 0;
                                            li{
                                                color: #fff;
                                                margin-bottom: 5px;
                                                a{
                                                    padding: 4px 14px;
                                                    color: #414141;
                                                    border-radius: 35px;
                                                    border: 1px solid #d6d6d6;
                                                    &:hover, &.current{
                                                        border-color: $wp-black;
                                                        color: $wp-black;
                                                        span{
                                                            color: $wp-black;
                                                        }
                                                    }
                                                }
                                                &.spam{
                                                    a{
                                                        &:hover, &.current{
                                                            border-color: #de901c;
                                                            color: #de901c;
                                                            span{
                                                                color: #de901c;
                                                            }
                                                        }
                                                    }
                                                }
                                                &.trash{
                                                    a{
                                                        &:hover, &.current{
                                                            border-color: #e4493d;
                                                            color: #e4493d;
                                                            span{
                                                                color: #e4493d;
                                                            }
                                                        }
                                                    }
                                                }
                                                &.approved{
                                                    a{
                                                        &:hover, &.current{
                                                            border-color: #4caf50;
                                                            color: #4caf50;
                                                            span{
                                                                color: #4caf50;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            .meta-box-sortables.empty-container{
                                padding: 20px;
                                outline: none;
                                border-radius: 0;
                                margin-bottom: 20px;
                                border: 2px dashed #cecece;
                                &::after{
                                    color: #a6a6a6;
                                    font-size: 14px;
                                    display: block !important;
                                }
                            }
                            @media only screen and (min-width: 1500px) and (max-width: 1800px){
                                #column4-sortables.empty-container{
                                    outline: none;
                                    border: 0;
                                }
                            }
                        }
                    }
                    .page-title-action{
                        background-color: transparent;
                        border-radius: 35px;
                        padding: 8px 16px;
                        color: #4caf50;
                        border-color: #4caf50;
                        transition: background .4s ease, color .2s ease;
                        &:hover{
                            background-color: #4caf50;
                            color: #fff;
                        }
                        &.upload-view-toggle{
                            border-color: $wp-color;
                            color: $wp-color;
                            &:hover{
                                background-color: $wp-color;
                                color: #fff;
                            }
                        }
                    }
                    & > ul.subsubsub{
                        float: none;
                        margin-top: 20px;
                        border-bottom: 1px solid #e4e4e4;
                        li{
                            color: #fff;
                            a{
                                display: inline-block;
                                padding: 4px 14px;
                                color: #414141;
                                border-radius: 0;
                                border: 0;
                                font-weight: 500;
                                transition: box-shadow .4s ease, color .4s ease;
                                &:hover, &.current{
                                    color: $wp-black;
                                    box-shadow: 0 1px 0 0 $wp-black;
                                    span{
                                        color: $wp-black;
                                    }
                                }
                            }
                            &.spam{
                                a{
                                    &:hover, &.current{
                                        box-shadow: 0 1px 0 0 #de901c;
                                        color: #de901c;
                                        span{
                                            color: #de901c;
                                        }
                                    }
                                }
                            }
                            &.trash{
                                a{
                                    &:hover, &.current{
                                        box-shadow: 0 1px 0 0 #e4493d;
                                        color: #e4493d;
                                        span{
                                            color: #e4493d;
                                        }
                                    }
                                }
                            }
                            &.approved{
                                a{
                                    &:hover, &.current{
                                        box-shadow: 0 1px 0 0 #4caf50;
                                        color: #4caf50;
                                        span{
                                            color: #4caf50;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .search-box{
                        padding: 20px 0;
                        float: none;
                        text-align: right;
                        margin-bottom: 20px;
                        border-bottom: 1px solid $wp-borde;
                        label{
                            display: none;
                        }
                        input[type="search"]{
                            display: inline-block;
                            padding: 4px 16px;
                            margin: 0;
                            float: none;
                            border-right: 0;
                            margin-right: -3px;
                            border-radius: 35px 0 0 35px;
                        }
                        input[type="submit"]{
                            background-color: #4caf50;
                            display: inline-block;
                            color: #fff;
                            padding: 4px 12px;
                            box-shadow: 0 0 0;
                            border-radius: 0 35px 35px 0;
                            border: 1px solid #4caf50;
                            box-shadow: 0 0 0 2px rgba(#fff, .45) inset;
                            transition: background .4s ease, color .2s ease, border .4s ease, box-shadow .4s ease;
                            &:hover{
                                background-color: #54bb58;
                                border: 1px solid #54bb58;
                                box-shadow: 0 0 0 1px rgba(#fff, .45) inset;
                            }
                            &:focus, &:active{
                                background-color: #42a046;
                                border: 1px solid #42a046;
                                box-shadow: 0 0 0 1px rgba(#fff, .45) inset;
                            }
                        }
                    }
                    .tablenav{
                        height: auto;
                        margin: 20px 0;
                    }
                    table.wp-list-table{
                        margin-top: 30px;
                        border-radius: 9px;
                        border-color: $wp-borde;
                        .inline-edit-row{
                            input, select, textarea{
                                margin-bottom: 5px;
                            }
                        }
                    }
                    .form-table, #addtag{
                        border-collapse: separate;
                        border-spacing: 0 15px;
                        .form-field{
                            label{
                                margin-bottom: 10px;
                            }
                        }
                        tbody{
                            tr{
                                th{
                                    padding: 10px 20px;
                                    vertical-align: middle;
                                    transition: border .4s ease;
                                    border-right: 1px solid #e4e4e4;
                                }
                                td{
                                    padding-left: 25px;
                                }
                                &:hover{
                                    th{
                                        border-color: #94c4db;
                                    }
                                }
                            }
                        }
                    }
                    .submit{
                        margin-bottom: 0;
                        padding: 30px 0;
                        text-align: center;
                        margin-top: 40px;
                        border-top: 1px solid $wp-borde;
                    }
                    .nav-tab-wrapper{
                        border-color: $wp-borde;
                        a.nav-tab{
                            background-color: transparent;
                            border: 0;
                            font-weight: 400;
                            margin-left: 0;
                            margin-right: 10px;
                            transition: color .4s ease, box-shadow .4s ease;
                            &:hover, &.nav-tab-active{
                                color: $wp-black;
                                box-shadow: 0 1px 0 0 $wp-black;
                            }
                        }
                    }
                    &.woocommerce{
                        .form-table{
                            .woocommerce-help-tip{
                                margin: 0;
                                position: relative;
                            }
                        }
                    }
                }
                .woocommerce-layout{
                    padding-top: 61px;
                    .woocommerce-layout__header{
                        top: 69px;
                        border-bottom: 1px solid $wp-borde;
                    }
                    .woocommerce-layout__primary{
                        margin: 0;
                        .woocommerce-card{
                            margin: 0;
                            border-radius: 0;
                            box-shadow: 0 0 0;
                            border-bottom: 1px solid $wp-borde;
                            &:before{
                                display: none;
                            }
                        }
                    }
                    .woocommerce-layout__main{
                        margin-top: 40px;
                        .woocommerce-accordion{
                            .components-card{
                                margin-bottom: 10px;
                            }
                        }
                    }
                }
            }
        }
        .media-frame{
            .media-toolbar{
                border-radius: 9px;
                box-shadow: 0 0 0;
                border: 1px solid $wp-borde;
                .view-switch{
                    padding: 0;
                }
                .media-toolbar-primary{
                    margin: 0;
                }
                select{
                    vertical-align: top;
                }
            }
        }
        #woocommerce-embedded-root{
            .woocommerce-layout{
                .woocommerce-layout__header{
                    top: 69px;
                    height: auto;
                    border-bottom: 1px solid $wp-borde;
                    transition: top .5s ease;
                    .woocommerce-layout__activity-panel{
                        top: 69px;
                        transition: top .5s ease;
                        .woocommerce-layout__activity-panel-wrapper{
                            top: 130px;
                            box-shadow: 0 0 0;
                        }
                    }
                    &.is-scrolled{
                        top: 0;
                        box-shadow: 0 0 0;
                        .woocommerce-layout__activity-panel{
                            top: 0;
                            .woocommerce-layout__activity-panel-wrapper{
                                top: 61px;
                                height: calc(100vh - 61px);
                            }
                        }
                    }
                }
            }
        }
    }
    #wpfooter{
        position: relative;
        margin-left: 250px;
        padding-right: 20px;
        padding-top: 20px;        
    }
}
body.woocommerce-embed-page{
    #screen-meta-links{
        top: 0;
        margin-top: 60px;
    }
}
body.woocommerce-page{
    #wpwrap{
        #wpcontent{
            #wpbody{
                #wpbody-content{
                    .wrap{
                        .woocommerce-layout{
                            .woocommerce-layout__header{
                                left: 250px;
                                box-shadow: 0 0 0;
                                border-bottom: 1px solid $wp-borde;
                                transition: top .4s ease;
                                .woocommerce-layout__activity-panel{
                                    top: 69px;
                                    transition: top .4s ease;
                                    .woocommerce-layout__activity-panel-wrapper{
                                        top: 130px;
                                        box-shadow: 0 0 0;
                                    }
                                }
                                &.is-scrolled{
                                    top: 0;
                                    .woocommerce-layout__activity-panel{
                                        top: 0;
                                        .woocommerce-layout__activity-panel-wrapper{
                                            top: 61px;
                                            height: calc(100vh - 61px);
                                        }
                                    }
                                }
                                
                            }
                        }
                    }
                    #screen-meta-links{
                        margin-top: 61px;
                    }
                }
            }
        }
    }
}
.is-dragging-metaboxes{
    #wpwrap{
        #wpcontent{
            #wpbody{
                #wpbody-content{
                    .wrap{
                        #dashboard-widgets-wrap{
                            #dashboard-widgets{
                                .meta-box-sortables, .meta-box-sortables.empty-container{
                                    outline: none;
                                    border: 3px dashed $wp-color;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
#file-editor-warning{
    .notification-dialog-background{
        background-color: #485054;
    }
    .notification-dialog{
        border-radius: 18px;
        box-shadow: 0 0 0;
    }
}
body.folded{
    @import 'blocks/folded';
}

@media (max-width: 1024px){
    #wpwrap{
        #wpcontent{
            #wpadminbar{
                .quicklinks{
                    ul#wp-admin-bar-root-default{
                        & > li:not(:nth-child(3)){
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 960px){
    .auto-fold{
        #adminmenu{
            li.menu-top{
                width: 100%;
                a{ 
                    display: block;
                    .wp-menu-name{
                        position: relative;
                        left: 0;
                        hyphens: inherit;
                        word-wrap: inherit;
                        word-break: inherit;
                    }
                }
                ul.wp-submenu{
                    li.wp-submenu-head{
                        display: none;
                    }
                }
            }
            li#collapse-menu{
                display: none;
            }
        }
    }
}
@media (max-width: 782px){
    #wpwrap{
        #wpcontent{
            margin-left: 0 !important;
            #wpadminbar{
                padding: 0;
                .quicklinks{
                    ul{
                        li{
                            a{
                                padding: 10px;
                                height: auto;
                                width: auto;
                                overflow: inherit;
                                white-space: inherit;
                                line-height: normal;
                                text-indent: inherit;
                                &:before{
                                    font-size: 20px;
                                    top: 0;
                                    width: auto;
                                }
                            }
                            &#wp-admin-bar-menu-toggle{
                                display: inline-block !important;
                                border-right: 1px solid $wp-borde;
                                a{
                                    padding: 0;
                                    span.ab-icon{
                                        float: none;
                                        width: auto;
                                        height: inherit;
                                        font-size: inherit;
                                        &:before{
                                            float: none;
                                        }
                                    }
                                }
                            }
                            &#wp-admin-bar-my-account{
                                a{
                                    img{
                                        position: relative;
                                        top: 0;
                                        right: 0;
                                    }
                                }
                            }
                        }
                        &#wp-admin-bar-root-default{

                        }
                    }
                }
            }
        }
    }
}